// Formateo general //
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
// Fin Formateo general //

@import 'components/header.scss'; 
@import 'components/cardprimaria';
@import 'components/cards';
@import 'components/videos';
@import 'components/footer';
@import 'components/instalacion';


.disclaimer {
    display: none;
}