// Fuentes //
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
// Nunito 400 //
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Open+Sans&family=Overlock&display=swap');
// Overlock 400 //

// Formateo general //
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
// Fin Formateo general //

@import 'components/header.scss'; 
@import 'components/cardprimaria';
@import 'components/cards';
@import 'components/videos';
@import 'components/footer';
@import 'components/instalacion';
@import 'components/formulario';


.disclaimer {
    display: none;
}