@import '../base/listas';

.mainCard {
  width: 75%;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px;
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mainContainer {
  padding: 140px 0 50px;

  display: flex;
  justify-content: center;

  p {
    text-align: center;
    color: nth($colores-texto, 1);
    font-size: nth($parrafos, 1);
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 50px;
  }
}

.h1Container {
  text-align: center;
  color: nth($colores-texto, 2);
  font-family: 'Noto Sans', sans-serif;
  font-size: nth($encabezados, 3);
}

.formularioContainer {
    display: flex;
    justify-content: center;
}

.formulario {
    width: 75%;
    padding-bottom: 110px;
}

.field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .field label {
    color: #777;
    font-family: 'Noto Sans', sans-serif;
  }
  
  input[type="submit"] {
    background-color: nth($colores, 2);
    color: black;
    border: none
  }

.inputContainer {
    display: flex;
    justify-content: end;
}