@import '../base/listas';

.navPc {
    display: none;
}

header{
    background-color: nth($colores, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

    .opcionesContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-family: 'Noto Sans', sans-serif;
        }

        .iconoContacto {
            padding-left: 3px;
        }

        .iconoInicio {
            margin-left: 28px;
            padding-right: 35px;
        }

        .iconoInstalacion {
            margin-right: -4px;
            padding-left: 6px;
        }

        img {
            height: 4vh;
            padding-right: 10px;
        }

        
      }


    .nav-link{
        font-family: 'Noto Sans', sans-serif;
        font-size: nth($encabezados, 2);
        color: black;
    }

    .ulContainer {
        text-align: center;
        margin-bottom: 10px;
        background-color: nth($colores, 2);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .navbar{
        padding: 0 0 0 10px;
        margin: 0;
        width: 95%;

        .navbar-toggler {
            background-color: nth($colores, 3);
        }
    }

    .logoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        width: 10%;
        img {
            width: 100%;
        }
        h2{
            color: black;
        }
    }
}

@media screen and (min-width: 992px) {
    .navCel {
        display: none;
    }

    header{

        .opcionesContainer {
            justify-content: flex-start;
        }
        
        .navPc {
            display: flex;
            width: 90%;

            .logoContainer {
                width: 3%;
            }
    
            .navbar-toggler {
                background-color: nth($colores, 2);
            }

            .offcanvas {
                background-color: nth($colores, 2);
            }
        }
    }
}