.video1 {
    width: 100%;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}